name: Run NPM tests

on:
  workflow_call:
    inputs:
      node_version:
        type: string
        required: false
        default: "22"

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Typecheck
        run: npm run typecheck

      - name: Bundle
        run: npm run bundle

      - name: Test
        run: npm test
